.App {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 5em;
  text-align: center;
}

h2 {
  text-align: center;
}

#optimized_appbar {
  position: absolute;
  right: 5px;
}

@media screen and (min-width: 1050px) {
  #optimized_appbar {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #page_header {
    font-size: 3em !important;
  }

  #logo {
    height: 40px !important;
  }
}

@media screen and (max-width: 1050px) {
  #appbar {
    display: none;
  }
}

/* Spinner */
/* Styling and animation for loading ring */

.lds-ring {
  width: 100px;
  height: 100px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 82px;
  height: 82px;
  margin: 6px;
  border: 6px solid #0072ff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0072ff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
